@import "../../sharing/styles/global.scss";

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 101;
}

.container {
  width: 36rem;
  padding: 3.2rem 4rem;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2.4rem;
  border-radius: 1.5rem;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.8rem;

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  span {
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-gray60;
  }
}

.button_delete {
  display: flex;
  place-content: center;
  place-items: center;
  width: 28rem;
  height: 5.1rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-gray-light;
  background: $color-red;
}

.button_addLink {
  display: flex;
  place-content: center;
  place-items: center;
  width: 28rem;
  height: 5.1rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-gray-light;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

.close {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 1.6rem;
  right: 1.6rem;
}

.folders {
  display: flex;
  flex-direction: column;
  place-content: flex-start;
  width: 100%;
  gap: 0.4rem;
  padding: 0;
}

.folder {
  list-style-type: none;
  height: 4rem;
  width: 100%;
  display: flex;
  place-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: $color-gray100;
  border-radius: 0.8rem;

  &:hover {
    color: $color-primary;
    background-color: $color-light-blue;
  }
}

.count {
  font-size: 1.4rem;
  font-weight: 300;
  color: $color-gray60;
  flex-grow: 1;
}

.check_show {
  width: 1.4rem;
  display: inline-block;
}

.check_hide {
  width: 1.4rem;
  display: none;
}
