@import "../../../styles/globals.scss";

.sign-input-box {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.sign-password {
  position: relative;
}

.sign-input-label {
  font-size: 1.4rem;
  font-weight: 400;
}

.sign-input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid $color-gray20;
  font-size: 1.6rem;
  line-height: 150%;
}

.sign-input:focus {
  border-color: $color-primary;
}

.sign-input.sign-input-error {
  border-color: $color-red;
}

.sign-input.sign-input-error:focus {
  border-color: $color-red;
}

.error-message {
  display: none;
  margin-top: -0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-red;
}

.error-message.error-message-on {
  display: inline-block;
}

.eye-button {
  position: absolute;
  top: 5.1rem;
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
}
