@import "../../sharing/styles/global.scss";

.button {
  display: flex;
  place-content: center;
  place-items: center;
  height: 3.1rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  color: #333236;
}

.hover {
  background-color: #e7effb;
  color: $color-primary;
}
