@import "../../../styles/globals.scss";

.container {
  background-color: $color-light-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  padding: 12rem 3.2rem 0;
  height: 100vh;

  @include tablet {
    padding: 20rem 0 0;
  }

  @include desktop {
    padding: 23.8rem 0 0;
  }
}
