@import "../../styles/globals.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.4rem 3.2rem 4rem;
  background-color: $color-light-blue;

  @include tablet {
    padding: 6rem 3.2rem 9rem;
  }

  .fixed {
    position: fixed;
    padding: 1.6rem 3.2rem;
    bottom: 0;
    left: 0;
    z-index: $z-index-fab;

    @include tablet {
      padding: 2.4rem 3.2rem;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 5.3rem;
  column-gap: 1rem;
  padding: 0 1rem;
  border: 0.1rem solid $color-primary;
  border-radius: 1.5rem;
  background-color: $color-white;

  @include tablet {
    height: 6.9rem;
    column-gap: 2rem;
    padding: 0 2rem;
  }
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 0.8rem;

  @include tablet {
    column-gap: 1.2rem;
  }
}

.icon {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;

  @include tablet {
    width: 2rem;
    height: 2rem;
  }
}

.input {
  width: 100%;
  height: 5.1rem;
  font-size: 1.4rem;
  line-height: 150%;

  @include tablet {
    height: 6.7rem;
    font-size: 1.6rem;
  }

  &::placeholder {
    color: $color-gray60;
  }
}

.button {
  width: 8rem;
  height: 3.7rem;
  font-size: 1.4rem;
  color: inherit;
}
