@import "../../../styles/globals.scss";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.logo-link {
  display: flex;
  justify-content: center;
}

.header-logo {
  position: relative;
  height: 3.8rem;
  width: 21rem;
}

.header-message {
  display: flex;
  column-gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.header-link {
  height: fit-content;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  color: $color-primary;
  border-bottom: 0.1rem solid $color-primary;
}
