@import "../../sharing/styles/global.scss";

.container {
  position: relative;
}

.star {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
}

.kebab {
  position: absolute;
  top: 20.7rem;
  right: 2rem;

  @include tablet {
    top: 21.5rem;
  }
}

.popover {
  position: absolute;
  bottom: 4rem;
  left: 29.9rem;
  z-index: 1;
  height: 6.4rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: $color-white;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}
